<!DOCTYPE html>

<html lang="{{- site.Language.Lang -}}">
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <section id="content">
        {{- block "main" . -}}{{- end -}}
    </section>
    {{- partial "footer.html" . -}}
    {{ if .Store.Get "hasMermaid" }}
      <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ 
            startOnLoad: true
        });
      </script>
    {{ end }}
</body>

</html>
